.chart-wrapper{
    height: 26vh;
}

.card-wrapper{
    width:60vw;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 5%;
    padding-right: 5%;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3%;
    padding-right: 3%;
}

Button {
    margin: 5%;
}

/* .card{
    height: 45vh;

} */

#goingButton {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.goingButton {
    display: block;
	padding: 0;
	width: 93.75px;
	height: 26.25px;
	border: 2px solid cornflowerblue;
	border-radius: 40px;
	background-color: white;
	color:cornflowerblue;
    font-size: 14px;
	letter-spacing: 1px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.goingButton:hover {
    display: block;
	padding: 0;
	width: 93.75px;
	height: 26.25px;
	border: 2px solid cornflowerblue;
	border-radius: 40px;
	background-color: cornflowerblue;
	color: white;
	letter-spacing: 1px;
	font-size: 14px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}